:root {
  --primary-color: #00AEEF;
  /* --secondary-color: #2ecc71; */
  --text-dark: #333333;
  --text-light: #ffffff;
}

/* Top Bar */
.topbar {
  background: #111;
  color: #fff;
  padding: 8px 0;
  font-size: 14px;
}

/* Hero Section */
.hero {
  background: url("assets/images/hero-img.webp") center/cover no-repeat;
  height: 100vh;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-content {
  z-index: 5;
  width: 100%;
}

.hero-content h1 {
  color: var(--primary-color);
}

.btn-discover {
  border: 2px solid #fff;
  padding: 10px 28px;
  border-radius: 40px;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}

.btn-discover:hover {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.book-seat-btn {
  background: var(--primary-color);
  color: #fff !important;
  padding: 10px 25px;
  border-radius: 40px;
  font-weight: 600;
}

.feature-card {
  background: #fff;
  border-radius: 25px;
  padding: 40px 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.icon-wrap {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrap i {
  font-size: 38px;
  color: var(--primary-color);
  /* YOUR COLOR */
}

.text-dark-blue {
  color: #0c1b3c;
}

.quote-box {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
}


.menu-btn {
  background: var(--primary-color);
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  font-size: 14px;
  transition: .3s;
}

.menu-btn:hover {
  background: #02a1db;
}

.menu-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
